{% extends '__base__.html' %}

{% block title %} Signin {% endblock %}

{% block beforehead %}
    <script xmlns:submit="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
            xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
            xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
        function validateEmail(email) {
            var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
            return re.test(email.toLowerCase())
        }

        function showFormError(msg) {
            divalert = $("#alert");
            divalert.html(msg);
            divalert.css('display', 'block');
        }

        $(function () {
            var vm = new Vue({
                el: '#vm',
                data: {
                    email: '',
                    password: ''
                },
                methods: {
                    submit: function (event) {
                        event.preventDefault();
                        var $form = $('#vm');
                        if (!validateEmail(this.email.trim().toLowerCase())) {
                            return showFormError('Please input the right format email')
                        }
                        var email = this.email.trim().toLowerCase();
                        $.ajax({
                            url: '/api/authenticate',
                            type: 'post',
                            data: {
                                'email': email,
                                'passwd': hex_sha1(email + ':' + this.password).toString()
                            },
                            success: function (res) {
                                if (res.status !== 200) {
                                    showFormError(res.message)
                                } else {
                                    Location.assign('/');
                                }
                            },
                            error: function (res) {
                                showFormError(res.status)
                            }
                        });
                    }
                }
            });
            $('#vm').show();
        });
    </script>

{% endblock %}
{% block content %}
    <div>
        <h1>Signin</h1>
        <form id="vm" v-on:submit="submit">
            <div id="alert" class="alert alert-danger" style="display: none" role="alert"></div>


            <label for="basic-url">Email:</label>


            <div class="input-group">
                <input v-model="email" maxlength="50" type="text"
                       class="form-control" placeholder="Your email" aria-describedby="basic-addon1">
            </div>

            <label for="basic-url">Password:</label>


            <div class="input-group">
                <input v-model="password" maxlength="50" type="password"
                       class="form-control" placeholder="Your password" aria-describedby="basic-addon1">
            </div>


            <div class="input-group">
                <button type="submit" class="btn btn-info btn-sm">
                    Signin
                </button>

                <button type="button" class="btn btn-info btn-sm">
                    <a href="/register">Signup</a>
                </button>
            </div>

        </form>
    </div>

{% endblock %}